In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from datetime import datetime
from scipy import stats

In [3]:
columnStr = ['year','month', 'Obsflux', 'Adjflux', 'Absflux']

df = pd.read_csv('/Volumes/HD3/KMI/MLR_Uccle/Files/teleconnection_indices/solflux_monthly_average2018.txt',
                   sep = "\s *", engine="python", skiprows=1, names=columnStr)
df[0:10], len(df)

y = np.asarray(df.year.tolist())
m = np.asarray(df.month.tolist())
date = ['']*len(y)

for i in range(len(y)):
    date[i] = str(y[i])+ '-' + str(m[i]) + '-01'
date[300:320]

df['date'] =  pd.to_datetime(date, format='%Y-%m')

df.set_index('date', inplace=True)

df = df.drop(columns='year')
df = df.drop(columns='month')
df = df.loc['1977-02-01':'2017-06-01']

df[0:10]

            Obsflux  Adjflux  Absflux
date
1977-02-01    82.29    80.31    72.28
1977-03-01    76.55    75.79    68.21
1977-04-01    77.62    78.17    70.36
1977-05-01    79.65    81.43    73.28
1977-06-01    91.54    94.44    85.00
1977-07-01    81.05    83.70    75.33
1977-08-01    84.26    86.34    77.71
1977-09-01   100.20   101.22    91.10
1977-10-01    96.92    96.30    86.66
1977-11-01    93.70    91.65    82.48

In [4]:
year_dif = (pd.Timestamp('2017-06-01') - pd.Timestamp('1977-02-01'))/np.timedelta64(1,'Y')
year_dif

40.32937021294072

In [5]:
jan = [[0] * 40] *3;feb = [[0] * 40] *3;mar = [[0] * 40] *3;apr = [[0] * 40] *3;may = [[0] * 40] *3;jun = [[0] * 40] *3;
jul = [[0] * 40] *3;aug = [[0] * 40] *3;sep = [[0] * 40] *3;oct = [[0] * 40] *3;nov = [[0] * 40] *3;dec = [[0] * 40] *3

jan_mean = [0] * 3;feb_mean = [0] * 3;mar_mean = [0] * 3;apr_mean = [0] * 3;may_mean = [0] * 3;jun_mean = [0] * 3;
jul_mean = [0] * 3;aug_mean = [0] * 3;sep_mean = [0] * 3;oct_mean = [0] * 3;nov_mean = [0] * 3;dec_mean = [0] * 3

In [6]:
uct = {}

alt = ['Obsflux','Adjflux','Absflux']
alt2 = ['Obsflux_ds','Adjflux_ds','Absflux_ds']


for ir in range(3):  # per each km
    
    uct[ir] = df
    
    jan[ir].clear();
    feb[ir].clear();
    mar[ir].clear();
    apr[ir].clear();
    may[ir].clear();
    jun[ir].clear()
    jul[ir].clear();
    aug[ir].clear();
    sep[ir].clear();
    oct[ir].clear();
    nov[ir].clear();
    dec[ir].clear()

    for i in (uct[ir][alt[ir]].index):

        if (pd.Timestamp(i).month == 1):
            #print('hey',alt[ir],  i, (uct[ir][alt[ir]].loc[pd.Timestamp(i)]))
            jan[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            jan[ir] = list(filter(lambda a: a != 0, jan[ir]))
        if (pd.Timestamp(i).month == 2):
            feb[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            feb[ir] = list(filter(lambda a: a != 0, feb[ir]))
        if (pd.Timestamp(i).month == 3):
            mar[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            mar[ir] = list(filter(lambda a: a != 0, mar[ir]))
        if (pd.Timestamp(i).month == 4):
            apr[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            apr[ir] = list(filter(lambda a: a != 0, apr[ir]))
        if (pd.Timestamp(i).month == 5):
            may[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            may[ir] = list(filter(lambda a: a != 0, may[ir]))
        if (pd.Timestamp(i).month == 6):
            jun[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            jun[ir] = list(filter(lambda a: a != 0, jun[ir]))
        if (pd.Timestamp(i).month == 7):
            jul[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            jul[ir] = list(filter(lambda a: a != 0, jul[ir]))
        if (pd.Timestamp(i).month == 8):
            aug[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            aug[ir] = list(filter(lambda a: a != 0, aug[ir]))
        if (pd.Timestamp(i).month == 9):
            sep[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            sep[ir] = list(filter(lambda a: a != 0, sep[ir]))
        if (pd.Timestamp(i).month == 10):
            oct[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            oct[ir] = list(filter(lambda a: a != 0, oct[ir]))
        if (pd.Timestamp(i).month == 11):
            nov[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            nov[ir] = list(filter(lambda a: a != 0, nov[ir]))
        if (pd.Timestamp(i).month == 12):
            dec[ir].append(uct[ir][alt[ir]].loc[pd.Timestamp(i)])
            dec[ir] = list(filter(lambda a: a != 0, dec[ir]))

        jan_mean[ir] = np.nanmean(jan[ir])
        feb_mean[ir] = np.nanmean(feb[ir])
        mar_mean[ir] = np.nanmean(mar[ir])
        apr_mean[ir] = np.nanmean(apr[ir])
        may_mean[ir] = np.nanmean(may[ir])
        jun_mean[ir] = np.nanmean(jun[ir])
        jul_mean[ir] = np.nanmean(jul[ir])
        aug_mean[ir] = np.nanmean(aug[ir])
        sep_mean[ir] = np.nanmean(sep[ir])
        oct_mean[ir] = np.nanmean(oct[ir])
        nov_mean[ir] = np.nanmean(nov[ir])
        dec_mean[ir] = np.nanmean(dec[ir])
print(jan_mean[0], dec_mean[0])
print(jan_mean[2], dec_mean[2])

/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:64: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:66: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:68: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:69: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:70: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:71: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:72: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:74: RuntimeWarning: Mean of empty slice
/Users/denizpoyraz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:75: RuntimeWarning: Mean of empty slice

129.74175 131.9855
113.048 115.08399999999999

In [7]:
print('january', len(jan[0]), np.mean(jan[0]), jan[0])
print('augustust', len(aug[0]), np.mean(aug[0]), aug[0])
print('next',jan_mean[0],aug_mean[0], dec_mean[0])

january 40 129.74175 [109.57, 202.99, 206.16, 174.56, 179.04, 142.29, 116.11, 74.46, 73.25, 72.51, 108.02, 235.38, 210.06, 229.36, 217.59, 121.01, 115.0, 82.61, 74.52, 73.59, 92.7, 141.74, 158.72, 167.5, 227.62, 143.73, 113.9, 102.86, 83.32, 83.76, 74.02, 69.7, 81.31, 83.39, 134.79, 126.83, 162.69, 142.0, 103.64, 77.37]
augustust 40 121.20625 [84.26, 114.05, 172.72, 166.22, 220.59, 167.87, 124.37, 83.67, 71.48, 68.37, 89.96, 154.21, 217.09, 222.65, 210.31, 122.06, 93.66, 76.12, 73.75, 72.48, 79.09, 139.86, 169.93, 163.56, 166.85, 183.61, 122.17, 109.73, 98.24, 79.59, 69.03, 66.17, 67.36, 79.16, 101.61, 115.86, 114.9, 124.56, 105.93, 85.15]
next 129.74175 121.20625 131.9855

In [8]:
uct2 = {}
dfde = pd.DataFrame()

for ir2 in range(3):  
    
    uct2[ir2] = df
   
    for i2 in (uct2[ir2][alt[ir2]].index):
        if (pd.Timestamp(i2).month == 1):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - jan_mean[ir2])/jan_mean[ir2]
            print(i2, pd.Timestamp(i2),uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)]  )
        if (pd.Timestamp(i2).month == 2):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - feb_mean[ir2])/feb_mean[ir2]
        if (pd.Timestamp(i2).month == 3):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - mar_mean[ir2])/mar_mean[ir2]
        if (pd.Timestamp(i2).month == 4):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - apr_mean[ir2])/apr_mean[ir2]
        if (pd.Timestamp(i2).month == 5):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - may_mean[ir2])/may_mean[ir2]
        if (pd.Timestamp(i2).month == 6):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - jun_mean[ir2])/jun_mean[ir2]
        if (pd.Timestamp(i2).month == 7):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - jul_mean[ir2])/jul_mean[ir2]
        if (pd.Timestamp(i2).month == 8):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - aug_mean[ir2])/aug_mean[ir2]
        if (pd.Timestamp(i2).month == 9):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - sep_mean[ir2])/sep_mean[ir2]
        if (pd.Timestamp(i2).month == 10):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - oct_mean[ir2])/oct_mean[ir2]
        if (pd.Timestamp(i2).month == 11):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - nov_mean[ir2])/nov_mean[ir2]
        if (pd.Timestamp(i2).month == 12):
            uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] = (uct2[ir2][alt[ir2]].loc[pd.Timestamp(i2)] - dec_mean[ir2])/dec_mean[ir2]


    #print('wh', ir2, alt[ir2],'uct',uct[ir2][alt[ir2]],'uct2',uct2[ir2][alt[ir2]])

    dfde[alt2[ir2]] = uct2[ir2][alt[ir2]]

dfde[20:40]

1978-01-01 00:00:00 1978-01-01 00:00:00 -0.15547616707806086
1979-01-01 00:00:00 1979-01-01 00:00:00 0.5645696161798343
1980-01-01 00:00:00 1980-01-01 00:00:00 0.5890027689621884
1981-01-01 00:00:00 1981-01-01 00:00:00 0.34544200305607103
1982-01-01 00:00:00 1982-01-01 00:00:00 0.3799721369566851
1983-01-01 00:00:00 1983-01-01 00:00:00 0.09671713230321
1984-01-01 00:00:00 1984-01-01 00:00:00 -0.10506833767850363
1985-01-01 00:00:00 1985-01-01 00:00:00 -0.4260906762857754
1986-01-01 00:00:00 1986-01-01 00:00:00 -0.4354168954866109
1987-01-01 00:00:00 1987-01-01 00:00:00 -0.4411205336755516
1988-01-01 00:00:00 1988-01-01 00:00:00 -0.1674229767981394
1989-01-01 00:00:00 1989-01-01 00:00:00 0.8142194012336045
1990-01-01 00:00:00 1990-01-01 00:00:00 0.6190624837417409
1991-01-01 00:00:00 1991-01-01 00:00:00 0.7678195338046544
1992-01-01 00:00:00 1992-01-01 00:00:00 0.6771008561237999
1993-01-01 00:00:00 1993-01-01 00:00:00 -0.0673010037247069
1994-01-01 00:00:00 1994-01-01 00:00:00 -0.1136237949619147
1995-01-01 00:00:00 1995-01-01 00:00:00 -0.363273580015685
1996-01-01 00:00:00 1996-01-01 00:00:00 -0.42562821913532073
1997-01-01 00:00:00 1997-01-01 00:00:00 -0.4327963049673678
1998-01-01 00:00:00 1998-01-01 00:00:00 -0.2855037025475608
1999-01-01 00:00:00 1999-01-01 00:00:00 0.09247794175737581
2000-01-01 00:00:00 2000-01-01 00:00:00 0.22335331533604258
2001-01-01 00:00:00 2001-01-01 00:00:00 0.29102621168590687
2002-01-01 00:00:00 2002-01-01 00:00:00 0.7544082764414693
2003-01-01 00:00:00 2003-01-01 00:00:00 0.10781610391412166
2004-01-01 00:00:00 2004-01-01 00:00:00 -0.1221021760535833
2005-01-01 00:00:00 2005-01-01 00:00:00 -0.20719429173723952
2006-01-01 00:00:00 2006-01-01 00:00:00 -0.3578011704019716
2007-01-01 00:00:00 2007-01-01 00:00:00 -0.3544098179653041
2008-01-01 00:00:00 2008-01-01 00:00:00 -0.42948202872244284
2009-01-01 00:00:00 2009-01-01 00:00:00 -0.46277894355517785
2010-01-01 00:00:00 2010-01-01 00:00:00 -0.37329348494220244
2011-01-01 00:00:00 2011-01-01 00:00:00 -0.3572616370597745
2012-01-01 00:00:00 2012-01-01 00:00:00 0.038909988496378355
2013-01-01 00:00:00 2013-01-01 00:00:00 -0.022442660130605592
2014-01-01 00:00:00 2014-01-01 00:00:00 0.25395256345779216
2015-01-01 00:00:00 2015-01-01 00:00:00 0.09448192274267923
2016-01-01 00:00:00 2016-01-01 00:00:00 -0.20118234878132904
2017-01-01 00:00:00 2017-01-01 00:00:00 -0.4036615044887247
1978-01-01 00:00:00 1978-01-01 00:00:00 -0.1553153038396931
1979-01-01 00:00:00 1979-01-01 00:00:00 0.5646171850743178
1980-01-01 00:00:00 1980-01-01 00:00:00 0.5887396603746546
1981-01-01 00:00:00 1981-01-01 00:00:00 0.34568382838809314
1982-01-01 00:00:00 1982-01-01 00:00:00 0.3802354926796646
1983-01-01 00:00:00 1983-01-01 00:00:00 0.09665708667372554
1984-01-01 00:00:00 1984-01-01 00:00:00 -0.1049208257370093
1985-01-01 00:00:00 1985-01-01 00:00:00 -0.42607615696327494
1986-01-01 00:00:00 1986-01-01 00:00:00 -0.43547038826835666
1987-01-01 00:00:00 1987-01-01 00:00:00 -0.4412024616070505
1988-01-01 00:00:00 1988-01-01 00:00:00 -0.16757557181412164
1989-01-01 00:00:00 1989-01-01 00:00:00 0.8138827631777976
1990-01-01 00:00:00 1990-01-01 00:00:00 0.619390330310726
1991-01-01 00:00:00 1991-01-01 00:00:00 0.7682650128573589
1992-01-01 00:00:00 1992-01-01 00:00:00 0.6770295122164812
1993-01-01 00:00:00 1993-01-01 00:00:00 -0.06726428838697873
1994-01-01 00:00:00 1994-01-01 00:00:00 -0.11367816000445835
1995-01-01 00:00:00 1995-01-01 00:00:00 -0.36294373810793823
1996-01-01 00:00:00 1996-01-01 00:00:00 -0.42575770844445865
1997-01-01 00:00:00 1997-01-01 00:00:00 -0.43276357585841785
1998-01-01 00:00:00 1998-01-01 00:00:00 -0.2855607480355708
1999-01-01 00:00:00 1999-01-01 00:00:00 0.09243764379940919
2000-01-01 00:00:00 2000-01-01 00:00:00 0.2232403729032155
2001-01-01 00:00:00 2001-01-01 00:00:00 0.290990295281389
2002-01-01 00:00:00 2002-01-01 00:00:00 0.7544921144185527
2003-01-01 00:00:00 2003-01-01 00:00:00 0.10764356057288878
2004-01-01 00:00:00 2004-01-01 00:00:00 -0.12235588214220329
2005-01-01 00:00:00 2005-01-01 00:00:00 -0.20714280027705023
2006-01-01 00:00:00 2006-01-01 00:00:00 -0.3577689496771728
2007-01-01 00:00:00 2007-01-01 00:00:00 -0.3544252402296014
2008-01-01 00:00:00 2008-01-01 00:00:00 -0.4294994785405505
2009-01-01 00:00:00 2009-01-01 00:00:00 -0.4627773487568566
2010-01-01 00:00:00 2010-01-01 00:00:00 -0.3733729270991729
2011-01-01 00:00:00 2011-01-01 00:00:00 -0.35729127689894835
2012-01-01 00:00:00 2012-01-01 00:00:00 0.03885868050856228
2013-01-01 00:00:00 2013-01-01 00:00:00 -0.022522271493284778
2014-01-01 00:00:00 2014-01-01 00:00:00 0.25389104283928693
2015-01-01 00:00:00 2015-01-01 00:00:00 0.09450755917171524
2016-01-01 00:00:00 2016-01-01 00:00:00 -0.20125150267894823
2017-01-01 00:00:00 2017-01-01 00:00:00 -0.40362553638672394
1978-01-01 00:00:00 1978-01-01 00:00:00 -0.1554030146486448
1979-01-01 00:00:00 1979-01-01 00:00:00 0.5645566485032907
1980-01-01 00:00:00 1980-01-01 00:00:00 0.5888825985422121
1981-01-01 00:00:00 1981-01-01 00:00:00 0.3457115561531384
1982-01-01 00:00:00 1982-01-01 00:00:00 0.3802986342084777
1983-01-01 00:00:00 1983-01-01 00:00:00 0.09670228575472367
1984-01-01 00:00:00 1984-01-01 00:00:00 -0.10489349656782963
1985-01-01 00:00:00 1985-01-01 00:00:00 -0.42608449508173524
1986-01-01 00:00:00 1986-01-01 00:00:00 -0.43537258509659615
1987-01-01 00:00:00 1987-01-01 00:00:00 -0.4411223551057958
1988-01-01 00:00:00 1988-01-01 00:00:00 -0.16752176066803484
1989-01-01 00:00:00 1989-01-01 00:00:00 0.8139197509022716
1990-01-01 00:00:00 1990-01-01 00:00:00 0.6194006085910408
1991-01-01 00:00:00 1991-01-01 00:00:00 0.768186964829099
1992-01-01 00:00:00 1992-01-01 00:00:00 0.6768983086830372
1993-01-01 00:00:00 1993-01-01 00:00:00 -0.06738730450781964
1994-01-01 00:00:00 1994-01-01 00:00:00 -0.11365083858184133
1995-01-01 00:00:00 1995-01-01 00:00:00 -0.3630139409808223
1996-01-01 00:00:00 1996-01-01 00:00:00 -0.4257306630811691
1997-01-01 00:00:00 1997-01-01 00:00:00 -0.43280730309249166
1998-01-01 00:00:00 1998-01-01 00:00:00 -0.28561319085698106
1999-01-01 00:00:00 1999-01-01 00:00:00 0.09245630174793007
2000-01-01 00:00:00 2000-01-01 00:00:00 0.22319722595711555
2001-01-01 00:00:00 2001-01-01 00:00:00 0.2910445120656711
2002-01-01 00:00:00 2002-01-01 00:00:00 0.754564432807303
2003-01-01 00:00:00 2003-01-01 00:00:00 0.1076710777722737
2004-01-01 00:00:00 2004-01-01 00:00:00 -0.12231972259571158
2005-01-01 00:00:00 2005-01-01 00:00:00 -0.20715094473144158
2006-01-01 00:00:00 2006-01-01 00:00:00 -0.35779491897247195
2007-01-01 00:00:00 2007-01-01 00:00:00 -0.3544335149670936
2008-01-01 00:00:00 2008-01-01 00:00:00 -0.429534357087255
2009-01-01 00:00:00 2009-01-01 00:00:00 -0.46279456514047135
2010-01-01 00:00:00 2010-01-01 00:00:00 -0.3733635269973816
2011-01-01 00:00:00 2011-01-01 00:00:00 -0.3573526289717642
2012-01-01 00:00:00 2012-01-01 00:00:00 0.03885075366216117
2013-01-01 00:00:00 2013-01-01 00:00:00 -0.022539098436062572
2014-01-01 00:00:00 2014-01-01 00:00:00 0.25389215200622745
2015-01-01 00:00:00 2015-01-01 00:00:00 0.09449083575118536
2016-01-01 00:00:00 2016-01-01 00:00:00 -0.20122425872195884
2017-01-01 00:00:00 2017-01-01 00:00:00 -0.40361616304578585

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1978-10-01    0.243099    0.243197    0.243226
1978-11-01    0.163610    0.163888    0.163862
1978-12-01    0.329616    0.329783    0.329811
1979-01-01    0.564570    0.564617    0.564557
1979-02-01    0.593600    0.593385    0.593364
1979-03-01    0.488093    0.488004    0.488049
1979-04-01    0.414787    0.416015    0.416054
1979-05-01    0.377899    0.377387    0.377774
1979-06-01    0.517203    0.516739    0.516777
1979-07-01    0.383407    0.383533    0.383421
1979-08-01    0.425009    0.424647    0.424514
1979-09-01    0.618248    0.617647    0.617735
1979-10-01    0.712081    0.712471    0.712513
1979-11-01    0.779626    0.780803    0.780681
1979-12-01    0.542063    0.542342    0.542352
1980-01-01    0.589003    0.588740    0.588883
1980-02-01    0.561357    0.560744    0.560830
1980-03-01    0.346027    0.346606    0.346579
1980-04-01    0.692859    0.694928    0.694840
1980-05-01    0.868588    0.869503    0.870128

In [9]:
dfde.loc['1980-01-01':'1981-01-01']

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1980-01-01    0.589003    0.588740    0.588883
1980-02-01    0.561357    0.560744    0.560830
1980-03-01    0.346027    0.346606    0.346579
1980-04-01    0.692859    0.694928    0.694840
1980-05-01    0.868588    0.869503    0.870128
1980-06-01    0.625329    0.625707    0.625797
1980-07-01    0.540462    0.540380    0.540293
1980-08-01    0.371381    0.370868    0.370754
1980-09-01    0.485872    0.485862    0.485789
1980-10-01    0.604894    0.604645    0.604574
1980-11-01    0.674730    0.675066    0.674971
1980-12-01    0.723220    0.722915    0.722915
1981-01-01    0.345442    0.345684    0.345712

In [78]:
df.loc['1980-01-01':'1981-01-01']

            Obsflux  Adjflux  Absflux
date
1980-01-01   206.16   199.56   179.62
1980-02-01   199.99   195.09   175.59
1980-03-01   168.08   166.47   149.82
1980-04-01   207.90   209.41   188.46
1980-05-01   224.03   229.15   206.25
1980-06-01   193.16   199.32   179.40
1980-07-01   184.79   190.82   171.73
1980-08-01   166.22   170.28   153.24
1980-09-01   183.86   185.81   167.22
1980-10-01   204.23   202.84   182.55
1980-11-01   218.09   213.39   192.04
1980-12-01   227.44   220.31   198.28
1981-01-01   174.56   169.03   152.13

In [86]:
dfde[dfde['Obsflux_ds'] < 0]

            Obsflux_ds  Adjflux_ds  Absflux_ds
date
1950-08-01   -0.015032   -0.015100   -0.014952
1950-09-01   -0.203792   -0.203583   -0.203429
1950-10-01   -0.239838   -0.239762   -0.239835
1950-11-01   -0.198550   -0.198477   -0.198313
1950-12-01   -0.217942   -0.217910   -0.217767
1951-01-01   -0.195492   -0.195260   -0.195285
1951-02-01   -0.192414   -0.192482   -0.192492
1951-03-01   -0.179442   -0.179225   -0.179326
1951-04-01   -0.028529   -0.027845   -0.027747
1951-07-01   -0.033109   -0.032873   -0.032979
1951-08-01   -0.105479   -0.105504   -0.105506
1951-09-01   -0.048043   -0.047867   -0.047829
1951-10-01   -0.154773   -0.155166   -0.155204
1951-11-01   -0.179281   -0.179500   -0.179462
1951-12-01   -0.239677   -0.239786   -0.239856
1952-01-01   -0.288935   -0.288960   -0.288931
1952-02-01   -0.316676   -0.316478   -0.316544
1952-03-01   -0.399816   -0.399463   -0.399503
1952-04-01   -0.329251   -0.328601   -0.328653
1952-05-01   -0.348118   -0.347731   -0.347656
1952-06-01   -0.327910   -0.327673   -0.327650
1952-07-01   -0.261972   -0.262061   -0.261970
1952-08-01   -0.240496   -0.240593   -0.240586
1952-09-01   -0.366008   -0.366177   -0.366227
1952-10-01   -0.340209   -0.340329   -0.340430
1952-11-01   -0.344447   -0.344822   -0.344659
1952-12-01   -0.337443   -0.337427   -0.337613
1953-01-01   -0.380273   -0.380164   -0.380252
1953-02-01   -0.450296   -0.450306   -0.450256
1953-03-01   -0.464599   -0.464491   -0.464477
...                ...         ...         ...
2016-07-01   -0.282747   -0.282823   -0.282715
2016-08-01   -0.306172   -0.306269   -0.306226
2016-09-01   -0.293185   -0.293078   -0.293181
2016-10-01   -0.313183   -0.312880   -0.312873
2016-11-01   -0.381963   -0.382052   -0.382095
2016-12-01   -0.417653   -0.417664   -0.417628
2017-01-01   -0.397028   -0.396988   -0.396978
2017-02-01   -0.389790   -0.389689   -0.389765
2017-03-01   -0.401899   -0.401889   -0.401839
2017-04-01   -0.353232   -0.353061   -0.353096
2017-05-01   -0.406354   -0.406347   -0.406219
2017-06-01   -0.386677   -0.386779   -0.386790
2017-07-01   -0.355295   -0.355329   -0.355319
2017-08-01   -0.362395   -0.362483   -0.362502
2017-09-01   -0.228202   -0.227816   -0.227778
2017-10-01   -0.390993   -0.390814   -0.390816
2017-11-01   -0.431513   -0.431504   -0.431591
2017-12-01   -0.445420   -0.445448   -0.445394
2018-01-01   -0.454387   -0.454384   -0.454400
2018-02-01   -0.431978   -0.431536   -0.431476
2018-03-01   -0.453389   -0.453410   -0.453423
2018-04-01   -0.440682   -0.440501   -0.440456
2018-05-01   -0.427728   -0.427805   -0.427785
2018-06-01   -0.404463   -0.404574   -0.404533
2018-07-01   -0.421528   -0.421559   -0.421576
2018-08-01   -0.437359   -0.437223   -0.437242
2018-09-01   -0.449016   -0.448954   -0.448959
2018-10-01   -0.445444   -0.445231   -0.445305
2018-11-01   -0.457153   -0.457074   -0.457055
2018-12-01   -0.458183   -0.458222   -0.458256

[498 rows x 3 columns]

In [80]:
# now do the same thing only for Lotus range

128.31450704225355